html, body {
  overflow: hidden;
}

body {
  background-image: url(../img/background.png);
  background-position: center;
}

@media only screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff;   
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 20px;
  }
}

@media only screen and (min-height: 711px) and (max-width: 769px) {
  body {
    background-position: unset;
  }
}